// Custom Bootstrap variables
// You can find all available variables in node_modules/bootstrap/scss/_variables.scss

$primary: #448058; // Example: a nice purple
$secondary: #5CE370;
$success: #3eb623;
$info: #0984e3;
$warning: #fdcb6e;
$danger: #d63031;
$dark: #2d3436;

// Customizing body
$body-bg: #cad1c5;
$body-color: #2d3436;

// Example: Making buttons more rounded
$border-radius: 0.5rem;
$border-radius-lg: 0.8rem;
$border-radius-sm: 0.3rem;
