.item-btn {
  &:hover:not(:disabled, .disabled) {
    cursor: pointer;
  }
  &:active:not(:disabled, .disabled) {
    filter: brightness(0.9);
  }
}

.search-list-container {
  min-height: 220px;
  max-height: calc(100vh - 240px);
  overflow-x: auto;
}

#GroceriesSearchResults {
  max-width: calc(100vw - 1rem);
  box-sizing: border-box;
}

.search-input,
input.text-primary {
  &::placeholder {
    color: var(--bs-primary) !important;
    opacity: 0.7;
  }
}

